.redux-container-sortable label {
  margin-right: 10px;
  width: 300px;
}
.redux-container-sortable label.bugger {
  margin-bottom: 0px!important;
  font-size: 12px !important;
  color: #999999;
}
.redux-container-sortable input {
  margin-right: 10px;
}
.redux-container-sortable .checkbox-container {
  width: 364px;
}
.redux-container-sortable .checkbox-container .drag {
  float: right;
  margin-left: 10px;
}
.redux-container-sortable li.ui-state-highlight {
  height: 30px;
  width: 364px;
  margin-bottom: 13px;
}
.redux-container-sortable li {
  /* height: 30px; */
  line-height: 30px;
}
.redux-container-sortable li.placeholder {
  height: 30px;
  margin: 10px 0;
}
